<p>novedades works!</p>
<p>novedades works!</p>

<!-- <div style="text-align: left;">
  <h1> PARTE DE NOVEDADES DEL ESC COM BL 1 - FECHA: {{ date | date}}  </h1>
  
  <h3> OFICIALES: </h3>
  <h5>FE:  Cantidad Total </h5>  <h5>P:  Presentes </h5>    <h5>A:  Ausentes </h5>
  <table class="table">
    <thead>
        <tr>
            <th>Nro</th>
            <th>Grado</th>
            <th>Apellido y Nombre</th>
            <th>Presente</th>
            <th>Ausente</th>
            <th>Causa</th>
        </tr>
    </thead>
    <tbody>
         <tr *ngFor="let item of collection.data" >
            <td>{{item.nro}}</td>
            <td>{{item.grado}}</td>
            <td>{{item.apellidoynombre}}</td>
            <td>{{item.presente}}</td>
            <td>{{item.ausente}}</td>
            <td>{{item.causa}}</td>
        </tr> 
    </tbody>
    
    </table>

    <h3> SUBOFICIALES: </h3>
  <h5>FE:  Cantidad Total </h5>  <h5>P:  Presentes </h5>    <h5>A:  Ausentes </h5>
  <table class="table">
    <thead>
        <tr>
            <th>Nro</th>
            <th>Grado</th>
            <th>Apellido y Nombre</th>
            <th>Presente</th>
            <th>Ausente</th>
            <th>Causa</th>
        </tr>
    </thead>
    <tbody>
         <tr *ngFor="let item of collection.data" >
            <td>{{item.nro}}</td>
            <td>{{item.grado}}</td>
            <td>{{item.apellidoynombre}}</td>
            <td>{{item.presente}}</td>
            <td>{{item.ausente}}</td>
            <td>{{item.causa}}</td>
        </tr> 
    </tbody>
    </table>

    <h3> SSVV: </h3>
  <h5>FE:  Cantidad Total </h5>  <h5>P:  Presentes </h5>    <h5>A:  Ausentes </h5>
  <table class="table">
    <thead>
        <tr>
            <th>Nro</th>
            <th>Grado</th>
            <th>Apellido y Nombre</th>
            <th>Presente</th>
            <th>Ausente</th>
            <th>Causa</th>
        </tr>
    </thead>
    <tbody>
         <tr *ngFor="let item of collection.data" >
            <td>{{item.nro}}</td>
            <td>{{item.grado}}</td>
            <td>{{item.apellidoynombre}}</td>
            <td>{{item.presente}}</td>
            <td>{{item.ausente}}</td>
            <td>{{item.causa}}</td>
        </tr> 
    </tbody>
    </table>  -->
    <h1> PARTE DE NOVEDADES DEL ESC COM BL 1 - FECHA: {{ date | date}}</h1>
     
     <br>
     <br>
     <h3> OFICIALES: </h3>
      <div class="mat-elevation-z8" >
      <h5>FE:{{cantTotalOfi}}</h5>  <h5>P:{{cantTotalOfiPresentes}}</h5>    <h5>A:{{cantTotalOfiAusentes}} </h5>
       <!-- <mat-form-field>
        <<mat-label>Filter</mat-label> 
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro" #input>
      </mat-form-field>  -->
    
      <table mat-table [dataSource]="dataSource" matSort>
       
        
        <ng-container matColumnDef="nro">
          <th mat-header-cell *matHeaderCellDef mat-sort-header > Nro </th>
          <td mat-cell *matCellDef="let element "> {{element.nro}} </td>     
        </ng-container>

       
        <ng-container matColumnDef="grado">
          <th mat-header-cell *matHeaderCellDef> Grado </th>
          <td mat-cell *matCellDef="let element"> {{element.grado}} </td>
        </ng-container>
    
       
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido y Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="seccion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Seccion que corresponde </th>
          <td mat-cell *matCellDef="let element"> {{user.displayName}} </td>
        </ng-container>
    
        
        <ng-container matColumnDef="presente">
          <th mat-header-cell *matHeaderCellDef> Presente </th>
          <td mat-cell *matCellDef="let element"> {{element.presente}} </td>
        </ng-container>

        <ng-container matColumnDef="ausente">
          <th mat-header-cell *matHeaderCellDef> Ausente </th>
          <td mat-cell *matCellDef="let element"> {{element.ausente}} </td>
        </ng-container>

        <ng-container matColumnDef="causa">
          <th mat-header-cell *matHeaderCellDef> Causa </th>
          <td mat-cell *matCellDef="let element"> {{element.causa}} </td>
        </ng-container>

        <ng-container matColumnDef="especificar">
          <th mat-header-cell *matHeaderCellDef> Especificar </th>
          <td mat-cell *matCellDef="let element"> {{element.especificar}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
         <!-- Row shown when there is no matching data. -->
          <!-- <tr class="mat-row" *matNoDataRow>
           <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>  -->
      </table>
       
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
     <br>
     <br>
     
    
 


