<div style="text-align: left;">
    <h2> -- </h2>
    <h2> - </h2>  
  <h2> ABM Dato Personal </h2>
  

  <button type="button" class="btn btn-success" (click)="open()" data-toggle="modal" data-target="#exampleModal">Crear nueva persona</button>
    <table class="table">
        <thead>
            <tr>
                <th>DNI</th>
                <th>Nro Orden</th>
                <th>Grado</th>
                <th>Apellido</th>
                <th>Nombre</th>
                <th>Responsabilidad</th>
                <th>Password</th>
                <th>Email</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of collection.data" >
                <td>{{item.dni}}</td>
                <td>{{item.nroorden}}</td>
                <td>{{item.grado}}</td>
                <td>{{item.apellido}}</td>
                <td>{{item.nombre}}</td>
                <td>{{item.responsabilidad}}</td>
                <td>{{item.password}}</td>
                <td>{{item.email}}</td>
                <td>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" (click)="openEditar(content,item)" >Editar</button>
                    <button type="button" class="btn btn-danger" (click)="eliminar(item)">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>   -->

  <!-- Modal -->
  
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Agregar Persona</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
              <div class="form-group">
                  <form [formGroup]="personaForm"  #formRegister="ngForm" (ngSubmit)="onAddUser()">
                    <div class="form-group">
                      <label>Password</label> 
                      <!-- <input type="password" formControlName="password"  [(ngModel)]="password"> -->
                      <!-- <input type="password"  name="password" formControlName="password" placeholder="Password(minimo 6 caracteres)" [(ngModel)]="password"> -->
                      <input type="password"  name="password" class="form-control" formControlName="password" placeholder="Password(minimo 6 caracteres)" [(ngModel)]="password"
                    required minlength="5" maxlength="10">
                    </div>
                    <div class="form-group">
                      <label>Email</label> 
                      <input type="email"  name="email" class="form-control"  formControlName="email" placeholder="Email" [(ngModel)]="email" required
                    minlength="8">
                      <!-- <input type="email"  name="email" placeholder="Email" formControlName="email" [(ngModel)]="email"> -->
                      <!-- <input type="email" formControlName="email" [(ngModel)]="email"> -->
                    </div> 
                      <div class="form-group">
                          <label>Dni</label> 
                          <input type="number" formControlName="dni">
                      </div>
                      <div class="form-group">
                        <label>Nro Orden</label> 
                        <input type="number" formControlName="nroorden">
                      </div>
                    <div class="form-group">
                      <label>Grado</label> 
                      <input type="text" formControlName="grado">
                    </div>
                      <div class="form-group">
                        <label>Apellido</label> 
                        <input type="text" formControlName="apellido">
                    </div>
                    <div class="form-group">
                        <label>Nombre</label> 
                        <input type="text" formControlName="nombre">
                    </div>
                    <div class="form-group">                    
                      <label>Responsabilidad</label> 
                     
                      <select class="form-control" id="selectedSeccion.name" formControlName="seccion" (change)="onSelect($event.target.value)">
                        <option *ngFor="let seccion of secciones" value={{seccion.name}} >
                            {{seccion.name}}
                        </option>
                        
                      </select>
                      <input type="hidden" formControlName="responsabilidad" [value]="secc">
                    </div>
                   <!-- <input #responsaUser type="text" [value]="a | async"  >  -->
                  

                  
                      <!-- <div class="form-group">  -->
                        
                       <!-- </div>  -->
                    
                    <div class="form-group">
                      <h5> Seleccionar Imagen:</h5>
                      <input type="file" accept=".png, .jpg" (change)="onUpload($event)" >
                    </div>
                    <input #imageUser type="hidden"  [value]="urlImage | async" > 
                  </form>
              </div>
            </form>
        </div>
          

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" (click)="guardarPersona()" (click)="onAddUser()" *ngIf="!actualizar">Guardar</button>
          <button type="button" class="btn btn-primary"  (click)="actualizarPersona()" *ngIf="actualizar">Actualizar</button>
        </div>
      </div>
    </div>
  </div>
</div>
