<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <a class="navbar-brand" routerLink="/">{{app_name}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="mainNavbar">
      <!-- <ul class="navbar-nav mr-auto">
        <li class="nav-item" *ngIf="isLogged">
          <a class="nav-link" routerLink="/offers">Verificar
          </a>
        </li>
        LOGGED: {{isLogged}} 
      </ul> -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngIf="!isLogged">
          <a class="nav-link" routerLink="/user/register">Registrarse
          </a>
        </li>
        <li class="nav-item" *ngIf="isLogged">
          <a class="nav-link" routerLink="/user/profile">Perfil</a>
        </li>
        <td *ngIf="isAdmin == true"> 
        <li class="nav-item" *ngIf="isLogged">
          <a class="nav-link" routerLink="/datopersona">Personas</a>
        </li>
        </td>
        <li class="nav-item" *ngIf="isLogged">
          <a class="nav-link" routerLink="/admin/list-books">Formulario</a>
        </li>
        <li class="nav-item dropdown" *ngIf="isLogged">
        <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" routerLink="/novedades">Novedades</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="/novedades" > OFICIALES</a>
              <a class="dropdown-item" href="/novsubofi" > SUBOFICIALES</a>
              <a class="dropdown-item" href="/novssvv" > SSVV</a>
            </div>
        </li>
        <li class="nav-item" *ngIf="!isLogged">
          <a class="nav-link" routerLink="/user/login">Login
          </a>
        </li>
        <li class="nav-item" *ngIf="isLogged">
          <a href="#" class="nav-link" (click)="onLogout()">Logout
          </a>
        </li>
      </ul>
    </div>
  </nav>

  
