


<br>
<h2>FORMULARIO MILITAR</h2>




 <!-- ADMIN: {{isAdmin}} comprobamos si es admin o no   -->




<!-- ACA DEBEMOS REVISAR EL FORMULARIO DEPENDIENDO SI ES ADMIN O MILITAR -->

 <td *ngIf="isAdmin == true; else noAdmin">
    <h1>-</h1>
    
    <div *ngIf="contacts ?. length > 0;else noContacts">
            <ul *ngFor="let contact of contacts" class="collection">
                    <li class="collection-item">
                        <a  class="secondary-content">  <!-- href="" -->
                                <i *ngIf="editState == false" (click)="editForm($event,contact)" class ="material-icons">mode_edit</i>
                                <i *ngIf="editState && formToEdit.id == contact.id" (click)="clearState()" class="material-icons">close</i>
                        </a>                                
                           <strong>Formulario</strong>
                           <br>
                           <blockquote>Descripcion del Formulario</blockquote>
                           <br>


                           <span class="my_tag amber">
                                <strong>Nombre:</strong>{{ contact.name }}</span>
                           <span class="my_tag amber">
                                <strong>Email:</strong>{{ contact.email }}</span>

                           
                           <span class="my_tag amber">
                                <strong>Mensaje:</strong>{{ contact.message }}</span>
                        <hr>
                        <div *ngIf="editState && formToEdit.id == contact.id" class="container-updateFormulario">
                              <!-- todo form  -->
                              <form [formGroup]="contactForm" (ngSubmit)="onUpdateForm(contact)">
                                <input  [(ngModel)]="contact.name"  type="text" formControlName="name"  id="name" placeholder="name">
                                <div class="alert-danger" *ngIf="name.invalid && (name.dirty || name.touched)">
                                        <div class="container-error-message" *ngIf="name.errors.required">
                                                El nombre es requerido
                                        </div>
                                         <div class="container-error-message" *ngIf="name.errors.minlength">
                                                El nombre debe tener como minimo 5 caracteres
                                        </div> 
                                </div>
                                <!-- <input [(ngModel)]="contact.email" #email="ngModel" type="text" formControlName="email" id="email" placeholder=" Email"> -->
                                <input [(ngModel)]="contact.email" type="text" formControlName="email" id="email" name="email" placeholder="email">
                                <div class="alert-danger" *ngIf="email.invalid && (name.dirty || name.touched)">
                                        <div class="container-error-message" *ngIf="email.errors.required">
                                                El email es requerido
                                        </div>
                                        <div class="container-error-message" *ngIf="(email.dirty || email.touched) &&
                                        email.invalid && email.errors.pattern">
                                                El email debe ser valido
                                        </div> 
                                </div>
                                <textarea formControlName="message" placeholder="Deje un comentario si lo desea"></textarea>

                                <button (click)="deleteForm($event, contact)" class="btn red right">Borrar
                                      <i class="material-icons right">delete_forever</i>  
                                </button>
                                <button type="submit" class="btn orange">Actualizar
                                        <i class="material-icons right">save</i>
                                </button>
                                
                                
                        </form>
                        </div>
                    </li>

            </ul>
    </div>
    <ng-template #noContacts>
         <hr>
         <h5>No existen Formularios</h5>   
    </ng-template>
    <!-- <button type="button" class="btn btn-primary" disabled="true">Enviar</button> -->

</td>
<ng-template #noAdmin>
    
        <div class="form-container">
                <h1>FORMULARIO </h1>
                
                <form [formGroup]="contactForm" (ngSubmit)="onSaveForm(formNew)" #formNew="ngForm">
                        <input  [(ngModel)]="contact.nro"   type="text" formControlName="nro" name = "nro" id="nro" placeholder="Nro">
                        <div class="alert-danger" *ngIf="nro.invalid && (nro.dirty || nro.touched)">
                                <div class="container-error-message" *ngIf="nro.errors.required">
                                        El nro es requerido
                                </div>
                                 <div class="container-error-message" *ngIf="nro.errors.minlength">
                                        El nro debe tener como minimo 1 caracteres
                                </div> 
                        </div>
                        <input  [(ngModel)]="contact.grado"   type="text" formControlName="grado" name = "grado" id="grado" placeholder="Grado">
                        <div class="alert-danger" *ngIf="grado.invalid && (grado.dirty || grado.touched)">
                                <div class="container-error-message" *ngIf="grado.errors.required">
                                        El grado es requerido
                                </div>
                                 <div class="container-error-message" *ngIf="grado.errors.minlength">
                                        El grado debe tener como minimo 2 caracteres
                                </div> 
                        </div>
                        <input  [(ngModel)]="contact.nombre"   type="text" formControlName="name" name = "name" id="name" placeholder="ApellidoyNombre">
                        <div class="alert-danger" *ngIf="name.invalid && (name.dirty || name.touched)">
                                <div class="container-error-message" *ngIf="name.errors.required">
                                        El nombre es requerido
                                </div>
                                 <div class="container-error-message" *ngIf="name.errors.minlength">
                                        El nombre debe tener como minimo 5 caracteres
                                </div> 
                        </div>
                        
                                
                </form>

        </div>

<!-- 
        <div class="form-group" [class.has-error]="gender.touched && gender.invalid">
                <label class="control-label">Gender</label>
                <div class="form-control">
                        <label class="radio-inline">
                                <input type="radio" required #gender="ngModel" value="male" name="gender"
                                [(ngModel)]="employee.gender"> Male
                        </label>

                        <label class="radio-inline">
                                <input type="radio" required #gender="ngModel" value="female" name="gender"
                                [(ngModel)]="employee.gender"> Female
                        </label>
                </div>
                <span class="help-block" *ngIf="gender.touched && gender.invalid">
                        Gender is required
                </span>
        </div> -->

        
        <h4 style='margin-left:60px'>Presente</h4>
        <mat-radio-group  [(ngModel)]="respuesta2" >
                <mat-radio-button  value="1">Si</mat-radio-button>
                <mat-radio-button  value="2">No</mat-radio-button>
        
         </mat-radio-group>
        
        <div *ngIf="respuesta2 == 2">
         <h4 style='margin-left:60px'>Ausente</h4>
         <mat-radio-group  [(ngModel)]="respuesta3" >
                 <mat-radio-button value="1">Si</mat-radio-button>
                 <!-- <mat-radio-button value="2">No</mat-radio-button> -->
         
          </mat-radio-group>
          
        </div>

       

                        

                        <!-- <input  [(ngModel)]="contact.presente"   type="text" formControlName="presente" name = "presente" id="presente" placeholder="Presente">
                        <div class="alert-danger" *ngIf="presente.invalid && (presente.dirty || presente.touched)">
                                <div class="container-error-message" *ngIf="presente.errors.required">
                                        El estado es requerido
                                </div>
                                 <div class="container-error-message" *ngIf="presente.errors.minlength">
                                        El presente debe ser Si o No
                                </div> 
                        </div> -->

      

          <div class="form-container"> 
                 <form [formGroup]="contactForm" (ngSubmit)="onSaveForm(formNew)" #formNew="ngForm"> 
                        <!-- <input  [(ngModel)]="contact.ausente"   type="text" formControlName="ausente" name = "ausente" id="ausente" placeholder="Ausente">
                        <div class="alert-danger" *ngIf="ausente.invalid && (ausente.dirty || ausente.touched)">
                                <div class="container-error-message" *ngIf="ausente.errors.required">
                                        El estado es requerido
                                </div>
                                 <div class="container-error-message" *ngIf="ausente.errors.minlength">
                                        El ausente debe ser Si o No
                                </div> 
                        </div> -->
                       <!-- <input [(ngModel)]="contact.email" #email="ngModel" type="text" formControlName="email" id="email" placeholder=" Email"> -->
                        
                        <!-- <textarea *ngIf="respuesta2 == 2" formControlName="message" placeholder="Deje su causa"></textarea>
                        <div class="alert-danger" *ngIf="message.invalid && (message.dirty || message.touched)">
                                <div class="container-error-message" *ngIf="message.errors.required">
                                        Si se ausento la causa es requerida
                                </div>
                                <div class="container-error-message" *ngIf="message.errors.minlength">
                                        El mensaje debe contener al menos 10 caracteres
                                </div> 
                        </div> -->

                        <div *ngIf="respuesta3 == 1">
                                <input  [(ngModel)]="contact.causa"   type="text" formControlName="causa" name = "causa" id="causa" placeholder="causa">
                                <div class="alert-danger" *ngIf="causa.invalid && (name.dirty || name.touched)">
                                        <div class="container-error-message" *ngIf="causa.errors.required">
                                               La causa es requerida
                                        </div>
                                         <div class="container-error-message" *ngIf="causa.errors.minlength">
                                                La Causa debe tener como minimo 5 caracteres
                                        </div> 
                                </div>
                        </div>
                        
                        <input [(ngModel)]="contact.email" type="text" formControlName="email" id="email" name="email" placeholder="email">
                        <div class="alert-danger" *ngIf="email.invalid && (name.dirty || name.touched)">
                                <div class="container-error-message" *ngIf="email.errors.required">
                                        El email es requerido
                                </div>
                                <div class="container-error-message" *ngIf="(email.dirty || email.touched) &&
                                email.invalid && email.errors.pattern">
                                        El email debe ser valido
                                </div> 
                        </div>
                        
                        <button type="submit" class="btn-send" (click)="enviarFormulario()" [disabled]="!contactForm.valid"> Enviar </button>
                 </form> 

         </div> 
        
       
    
</ng-template> 